.axis {
    font: 10px Verdana;
}

.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis-title {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}


path {
    stroke: black;
    stroke-width: 3;
    fill: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}


  