<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a routerLink="/" class="navbar-brand">AppRealTime V3</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Menu <span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="themes">
            <a class="dropdown-item" href="#">Option 1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Option 2</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gestion_sensores" *ngIf="isLogin">Administrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ayuda</a>
        </li>
      </ul>

      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active" *ngIf="!isLogin">
          <button type="button" class="btn btn-info" routerLink="/"><i class="fas fa-sign-in-alt"></i> Login</button>
        </li>
        <li class="nav-item" *ngIf="isLogin">
          <img src="{{userPicture}}" class="rounded-circle" width="40px">
        </li>
        <li class="nav-item" *ngIf="isLogin">
            <span class="nav-link">{{userNombre}}</span>
          </li>
        <li class="nav-item" *ngIf="isLogin">
          <button type="button" class="btn btn-secondary my-2 my-sm-0" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i> Salir</button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">

  <router-outlet></router-outlet>

  <footer class="fixed-bottom bg-primary" id="footer">
    <div class="container">
      <span class="text-white">Developement by @AngelDX 2019</span>
    </div>
  </footer>

</div>